#conatiner{
    background-color:grey;
    text-align: center;
    width:50%;
    padding-top:2px;
    margin-top:15%;
    margin-left:25%;
    padding-bottom:35px;
    border:2px solid black;
    border-radius:10px;
    font-family: 'Playfair Display', serif;
}
#timer{
    padding-top:.5px;
    
}
#longTimer{
    background-color:white;
    font-size:14px;
    border-radius:3px;
    padding: 1px, 5px, 1px, 5px;
}
#shortTimer{
    background-color:white;
    font-size:14px;
    border-radius:3px;
}
.session{
padding:10px, 5px, 5px, 5px;
font-size:14px;
padding-top:2px;

}
.break{
    font-size:24px;
    padding-left:0px;  
}
#buttons{
    padding-top:10px;
}
#start{
    background-color:white;
    font-size:14px;
    border-radius:3px;
    
}
#reset{
    background-color:white;
    font-size:14px;
    border-radius:3px;
    
}
#startBrk{
    background-color:white;
    font-size:14px;
    border-radius:3px;
    
}
#resetBrk{
    background-color:white;
    font-size:14px;
    border-radius:3px;
    
}
